body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.card {
    margin-bottom: 20px;
}

footer {
    background-color: hsl(278, 33%, 26%) !important;
    position: relative;
    bottom: 0;
    width: 100%;
}
.btn-primary {
    background-color: hsl(0, 0%, 0%);
}
.bg-light {
    color: hsl(0, 0%, 100%);
    
}
