body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.card {
    margin-bottom: 20px;
}

footer {
    background-color: hsl(278, 32%, 27%);
    position: relative;
    bottom: 0;
    width: 100%;
}